footer {
  width: 100%;
  background: $black;
  padding-left: 2.5%;
  padding-right: 2.5%;
  .footer-container {
    max-width: $layout-breakpoint-large;
    margin: 0 auto;
    .footer-top {
      width: 90%;
      margin: 0 auto;
      padding: 4rem 0;
      h1 {
        font-size: 4rem;
        color: $white;
        margin-bottom: 2rem;
      }
      .email-container {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        .send-email {
          font-size: 2rem;
          color: $orange;
        }
      }
    }
    .footer-bottom {
      border-top: 1px solid rgba($background, 0.5);
      display: flex;
      width: 90%;
      margin: 0 auto;
      justify-content: space-between;
      font-size: 1.5rem;
      padding: 2rem 0;
      color: $white;
      .copy {
        text-transform: uppercase;
      }
      ul {
        display: flex;
        gap: 2rem;
        a {
          color: $white;
          font-weight: 300;
        }
      }
    }
  }
}
