.pricing {
  margin: 12rem auto;
  width: 90%;
  &___title {
    color: rgba($black, 0.5);
    font-size: 1.5rem;
  }

  .pricing-container {
    margin: 6rem 0;
    display: flex;
    gap: 2rem;
  
    .pricing-component {
      color: $white;

      &__simple, &__webshop, &__custom {
        padding: 4rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        border-radius: 10px;
      }

      &__simple {
        background: $white;
        color: $black;
      }
      &__webshop {
        background: $black;
      }
      &__custom {
        background: $orange;
      }

      h2 {
        font-size: 4rem;
        font-weight: 600;
      }

      ul {
        list-style-type: disc;
        padding: 0 2rem;
        li {
          margin: 2rem 0;
          font-size: 1.7rem;
          span {
            font-weight: 700;
            line-height: 2rem;
          }
        }
      }
    }
  }
}
